.NumbersGame {
  width: 75%;
  background: white;
  overflow: hidden;
  display: flex;
  max-width: 30rem;
}

.NumbersGame-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.NumbersGame-big-number-select {
  display: flex;
  justify-content: space-around;
}
