.App {
  background: aquamarine;
  height: 100%;
}

.App-header {
  width: 100%;
  border-bottom: 1px solid black;
  height: 2rem;
  margin-bottom: 10%;
}

.App-content {
  display: flex;
  justify-content: center;
  margin: .75rem;
}
