.GameDecider-container {
  border-radius: 0.5rem;
  background: white;
  overflow: hidden;
  display: flex;
  max-width: 30rem;
}

.GameDecider-game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 3rem;
  text-align: center;
}
